/* Navbar and body */

body {
    margin-top: -10px;
    background-color: rgb(8, 8, 8);
    color: white
}
.bodyInformation{
    margin: 70px 100px 130px 140px;
    font-size: 25px;
}

.brand1 {
    width: 130px;
    background-color: black;
    margin-left: -20px;
    margin-right: -10px;
    margin-bottom: -20px;
    padding: 10px 0px 10px 0px;

}

.brand2 {
    margin-bottom: -20px;
    width: 200px;
    padding: 0px 1583px 10px 0px;
    background-color: black;

}

.buttonNav {
    color: white;
    text-decoration: none;
    padding: 15px 30px 15px 30px;
    margin-top: 200px;
}

.ulNav {
    margin-left: 140px;
        list-style: none;
}

.liNav {
    padding: 15px;
    margin: -15px;
    font-size: 20px;
    display: inline-block;
    text-align: center;
}

li:hover,
.activate {
    background-color: rgba(128, 128, 128, 0.568);
    transition: 0.5s;
    border-radius: 200px;

}

.titlebrand {
    font-size: 20px;
}

.navtools {
    padding-top: 10px
}

.navtoolsbutton {
    margin: 10px -10px 0px -10px;
    padding: 1px 0px 1px 0px;
    background-color: black;
}

/*Index*/

.welcomePhrase {
    font-size: 90px;

}

.welcomeDiv {
    margin: 80px 80px 230px 100px;
}

.firstPhraseDiv {
  margin: 140px 0px 100px 1000px;
    padding-right: 100px;
    
    font-size: 25px;
}

.nome {
    font-size: 35px;
}

.gabriel {
    margin: 0px 150px 0px 180px;
    height: 550px;
    width: 400px;
    float: left;
    border-radius: 70%;
    border-top-left-radius: 90%;
    border-top-left-radius: 140%;
    border-bottom-right-radius: 140%;
}
.heraclito{
    margin-left: 500px;
}
/*aboutMe*/

.imgAbout{
    margin-top: 60px;
    margin-right: 450px;
    height: 500px;
    width: 350px;
    border-radius: 70%;
    float: right;
}

/*Universe*/

.imgPag {
           
    margin: 70px 5px 10px 0px;
    border-radius: 5%;
}